<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>容器云PaaS服务资源管理平台</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/css/local/dashboard.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">容器云PaaS管理平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">控制面板</a></li>
                <li><a href="#">设置</a></li>
                <li><a href="#">简介</a></li>
                <li><a href="#">帮助</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="搜索...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row" data-ng-app="ctrlPlane" data-ng-controller="planeCtrl">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a data-ng-click='showModule(1)'>镜像中心</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
            </ul>

            <ul class="nav nav-sidebar">
                <li><a data-ng-click="showModule(2)">PaaS平台资源监控</a></li>
                <li><a href="">其他一</a></li>
                <li><a href="">其他二</a></li>
            </ul>

            <p>Ambari资源管理服务</p>
            <ul class="nav nav-sidebar">
                <li><a data-ng-click="showModule(3)">服务运行状态监控</a></li>
                <li><a data-ng-click="showModule(4)">服务能力自动扩展</a></li>
                <li><a data-ng-click="showModule(5)">服务能力手动扩展</a></li>
            </ul>

            <p>协调服务</p>
            <ul class="nav nav-sidebar">
                <li><a href="">服务运行状态监控</a></li>
                <li><a href="">服务能力自动扩展</a></li>
                <li><a href="">服务能力手动扩展</a></li>
            </ul>

            <p>缓存服务</p>
            <ul class="nav nav-sidebar">
                <li><a href="">服务运行状态监控</a></li>
                <li><a href="">服务能力自动扩展</a></li>
                <li><a href="">服务能力手动扩展</a></li>
            </ul>

            <p>消息队列服务</p>
            <ul class="nav nav-sidebar">
                <li><a href="">服务运行状态监控</a></li>
                <li><a href="">服务能力自动扩展</a></li>
                <li><a href="">服务能力手动扩展</a></li>
            </ul>

            <p>存储服务</p>
            <ul class="nav nav-sidebar">
                <li><a href="">服务运行状态监控</a></li>
                <li><a href="">服务能力自动扩展</a></li>
                <li><a href="">服务能力手动扩展</a></li>
            </ul>
        </div>

        <div data-ng-show="registryUI" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <iframe src="http://localhost:8181/repositories" frameborder="0" width="100%" height="800" scrolling="no"></iframe>
        </div>

        <div data-ng-show="resourceMonitor" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <iframe src="sub/resourceMonitor.html" frameborder="0" width="100%" height="800" scrolling="no"></iframe>
        </div>

        <div data-ng-show="ambari" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <iframe src="http://www.baidu.com" frameborder="0" width="100%" height="800" scrolling="no"></iframe>
        </div>

        <div data-ng-show="ambariAuto" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <iframe src="sub/ambari/auto.html" frameborder="0" width="100%" height="800" scrolling="no"></iframe>
        </div>

        <div data-ng-show="ambariManual" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <iframe src="sub/ambari/manual.html" frameborder="0" width="100%" height="800" scrolling="no"></iframe>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="../assets/js/jslib/angular.js"></script>
<script src="../assets/js/local/controlPlane.js"></script>
</body>
</html>
