<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div data-ng-app="" data-ng-controller="">
    <table width="100%">
        <tbody>
        <tr>
            <th width="90%" align="left"><h1 class="page-header">工作负载</h1></th>
            <th width="10%" align="right" data-ng-click=""><button type="button" class="btn btn-default" data-ng-click="$ctrl.open()">部署新服务</button></th>
        </tr>
        </tbody>
    </table>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>服务名</th>
                <th>标签</th>
                <th>实例数</th>
                <th>运行时间</th>
                <th>镜像</th>
                <th>镜像名</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>registry</td>
                <td>192.168.1.133</td>
                <td>5000</td>
                <td>running</td>
                <td>
                    <button type="button" class="btn btn-xs btn-primary">关闭</button>
                </td>
            </tr>
            <tr>
                <td>registry-ui</td>
                <td>192.168.1.133</td>
                <td>8282</td>
                <td>running</td>
                <td>
                    <button type="button" class="btn btn-xs btn-primary">关闭</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="../assets/js/local/srvCtrl.js"></script>
</body>
</html>
